#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.table--showColors tr:nth-child(odd) {
  background-color: #555;
}

.table--showColors tr:nth-child(even) {
  background-color: #333;
}

header {
  display: 'flex';
  gap: '8px';
  margin-bottom: '20px';
  justify-content: 'center';
  align-items: center;
}

.pointerHeader {
  cursor: crosshair;
}